<html lang="en"><head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" href="img/favicon.png">

	<title><%= title %></title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/myriad.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png">Gunn Business</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="news">News</a>
					</li>
					<li>
						<a href="about">About</a>
					</li>
					<li>
						<a href="events">Events</a>
					</li>
					<li class="dropdown">
						<a href="projects" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="projects">About Projects</a>
							</li><li>
							</li><li>
								<a href="ae">American Enterprise</a>
							</li>
							<li>
								<a href="pb">Partnership with Business</a>
							</li>
							<li>
								<a href="cs">Community Service</a>
							</li>
						</ul>
					</li>
					<% if (login) { %>
						<li>
							<a class="nav-bold" href="profile">Profile</a>
						</li>
					<% } %>
					<li>
						<% if (login) { %>
							<a href="logout">Logout</a>
						<% }else{ %>
							<a href="login">Login</a>
						<% } %>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="container">
		<div style="padding: 50px 0 20px 0">
			<h1 style="font-size: 35px;">Welcome, <%= user.firstName %> <%= user.lastName %> </h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!-- <li>Email: <%= user.email %></li>
			<li>Year: <%= user.year %></li>
			<li>Student ID: <%= user.studentID %></li> -->
		</div>
		<div class="col-lg-12">
            <ul id="myTab" style="margin-bottom: 20px;" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#service-one" data-toggle="tab" aria-expanded="true"><i class="fa fa-tree"></i> DECA</a></li>
				<li class=""><a href="#service-two" data-toggle="tab" aria-expanded="false"><i class="fa fa-support"></i> FBLA</a></li>
				<li class=""><a href="#service-three" data-toggle="tab" aria-expanded="false"><i class="fa fa-user"></i> Info</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
					<div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-heading">
								<% if (user.DECA_statesChecks == null || user.DECA_statesForms == null || user.DECA_registrationPayment == null || user.DECA_statesRegistered == null){
									%>
									<h4 style="font-size: 20px; color:red"><i class="fa fa-times"></i> DECA Signups</h4>
									<%
								}	else{
									%>
									<h4 style="font-size: 20px; color:green"><i class="fa fa-check"></i> DECA Signups</h4>
									<%
								}
								%>
			                </div>
			                <div class="panel-body">
								<% if (user.DECA_registrationPayment == null){ %>
								    <p style="color:red;"><b>DECA Registration Payment: Unsubmitted</b></p>
								    <%
								}	else{
								    %>
								    <p style="color:green"><b>DECA Registration Payment: Submitted</b></p>
								    <%
								}
								%>
								<% if (user.DECA_statesRegistered == null){
								    %>
								    <p style="color:red;"><b>DECA States Registration: Unsubmitted</b></p>
								    <%
								}	else{
								    %>
								    <p style="color:green"><b>DECA States Registration: Submitted</b></p>
								    <%
								}
								%>
								<% if (user.DECA_statesChecks == null){
								    %>
								    <p style="color:red;"><b>DECA States Checks: Unsubmitted</b></p>
								    <%
								}	else{
								    %>
								    <p style="color:green"><b>DECA States Checks: Submitted</b></p>
								    <%
								}
								%>
								<% if (user.DECA_statesForms == null){
								    %>
								    <p style="color:red;"><b>DECA States Forms: Unsubmitted</b></p>
								    <%
								}	else{
								    %>
								    <p style="color:green"><b>DECA States Forms: Submitted</b></p>
								    <%
								}
								%>
								<form action="/setRegionals" method="post">
								<div class="form-group">
								    <label>Roleplay</label>
								        <select name="regionalsRoleplay" class="form-control" id="grade" selected=<%= user.DECA_regionalsRoleplay %>>
								            <%
								                var options = [
								                    "NONE SELECTED",
								                    "PBM Principles of Business Management and Administration",
								                    "PFN Principles of Finance",
								                    "PHT Principles of Hospitality and Tourism",
								                    "PMK Principles of Marketing",
								                    "BLTDM Business Law and Ethics Team Decision Making",
								                    "BTDM Buying and Merchandising Team Decision Making",
								                    "FTDM Financial Services Team Decision Making",
								                    "HTDM Hospitality Services Team Decision Making",
								                    "MTDM Marketing Communications Team Decision Making",
								                    "STDM Sports and Entertainment Marketing Team Decision Making",
								                    "TTDM Travel and Tourism Marketing Team Decision Making",
								                    "ACT Accounting Applications",
								                    "AAM Apparel and Accessories Marketing Series",
								                    "ASM Automotive Services Marketing Series",
								                    "BFS Business Finance Series",
								                    "BSM Business Services Marketing Series",
								                    "FMS Food Marketing Series",
								                    "HLM Hotel and Lodging Management Series",
								                    "HRM Human Resource Management Series",
								                    "MMS Marketing Management Series",
								                    "QSRM Quick Serve Restaurant Management Series",
								                    "RFSM Restaurant and Food Service Management",
								                    "RMS Retail Merchandising Series",
								                    "SEM Sports and Entertainment Marketing Series",
								                    "PFL Personal Financial Literacy"
								                ]
								                for(var i = 0; i < options.length; i++) { %>
								                    <option <% if (user.DECA_regionalsRoleplay == options[i]) { %>selected<% } %> >  <%= options[i] %>  </option>
								                <% } %>
								        </select>

								        <label>Roleplay Partner</label>
								        <input type="text" class="form-control" name="roleplayPartner" value="<%= user.DECA_roleplayPartner %>">
								        <label>Written</label>
								        <select name="regionalsWritten" class="form-control" id="grade" selected=<%= user.DECA_regionalsWritten %>>
								            <%
								                var options = [
								                    "NONE SELECTED",
								                    "BOR Business Services Operations Research",
								                    "BMOR Buying and Merchandising Operations Research",
								                    "FOR Finance Operations",
								                    "HTOR Hospitality and Tourism Operations Research",
								                    "SEOR Sports and Entertainment Marketing Operations Research",
								                    "EIP Innovation Plan",
								                    "EIB Independent Business Plan",
								                    "ESB Start-Up Business Plan",
								                    "EBG Business Growth Plan",
								                    "IBP International Business Plan",
								                    "ADC Advertising Campaign Event",
								                    "FMP Fashion Merchandising Promotion Plan",
								                    "SEPP Sports and Entertainment Promotion Plan",
								                    "FCE Financial Consulting Event",
								                    "HTPS Hospitality and Tourism Professional Selling",
								                    "PSE Professional Selling"

								                ]
								                for(var i = 0; i < options.length; i++) { %>
								                    <option <% if (user.DECA_regionalsWritten == options[i]) { %>selected<% } %> >  <%= options[i] %>  </option>
								                <% }
								            %>
								        </select>

								            <label>Written Partner 1</label>
								            <input type="text" class="form-control" name="writtenPartner1"  value="<%= user.DECA_writtenPartner1 %>" >
								            <label>Written Partner 2</label>
								            <input type="text" class="form-control" name="writtenPartner2"  value="<%= user.DECA_writtenPartner2 %>" >
								    </div>

								    <% if(user.DECA_statesRegistered == 1){%>
								        <button type="submit" class="btn-submit btn btn-warning btn-lg" name="submitbutton" value="save">Update</button>
								        <button type="submit" class="btn-submit btn btn-warning btn-lg" name="submitbutton" value="cancel">Cancel</button>
								        <%} else { %>
								        <!-- <button type="submit" class="btn-submit btn btn-warning btn-lg" name="submitbutton" value="save">Register</button> -->
										<button type="submit" class="btn btn-wide">Submit</button>
								        <%}%>
								</form>
			                </div>
			            </div>
			        </div>
				</div>
                <div class="tab-pane fade" id="service-two">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<% if (user.FBLA_statesChecks == null || user.FBLA_statesForms == null || user.FBLA_registrationPayment == null || user.FBLA_statesRegistered == null){
									%>
									<h4 style="font-size: 20px; color:red"><i class="fa fa-times"></i> FBLA Signups</h4>
									<%
								}	else{
									%>
									<h4 style="font-size: 20px; color:green"><i class="fa fa-check"></i> FBLA Signups</h4>
									<%
								}
								%>
							</div>
							<div class="panel-body">
								<% if (user.FBLA_registrationPayment == null){ %>
									<p style="color:red;"><b>FBLA Registration Payment: Unsubmitted</b></p>
									<%
								}	else{
									%>
									<p style="color:green"><b>FBLA Registration Payment: Submitted</b></p>
									<%
								}
								%>
								<% if (user.FBLA_statesRegistered == null){
									%>
									<p style="color:red;"><b>FBLA States Registration: Unsubmitted</b></p>
									<%
								}	else{
									%>
									<p style="color:green"><b>FBLA States Registration: Submitted</b></p>
									<%
								}
								%>
								<% if (user.FBLA_statesChecks == null){
									%>
									<p style="color:red;"><b>FBLA States Checks: Unsubmitted</b></p>
									<%
								}	else{
									%>
									<p style="color:green"><b>FBLA States Checks: Submitted</b></p>
									<%
								}
								%>
								<% if (user.FBLA_statesForms == null){
									%>
									<p style="color:red;"><b>FBLA States Forms: Unsubmitted</b></p>
									<%
								}	else{
									%>
									<p style="color:green"><b>FBLA States Forms: Submitted</b></p>
									<%
								}
								%>
								<button type="submit" class="btn btn-wide">Submit</button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade active in" id="service-three">
					<div class="col-md-12">
			            <div class="panel panel-default">
			                <div class="panel-heading">
								<h4 style="font-size: 20px"><i class="fa fa-user"></i> Profile Information</h4>
			                </div>
			                <div class="panel-body">

			                </div>
			            </div>
			        </div>
				</div>
            </div>
        </div>
	</div>

	<!-- Footer -->
	<%- include('partials/footer') %>
	<%- include('partials/contact') %>

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="javascripts/bootstrap.min.js"></script>

	<!-- Custom JavaScript -->
	<script src="javascripts/main.js"></script>
	<!-- <script src="res/js/nav.js"></script> -->




</body></html>
