<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <%- include('partials/navbar') %>
    
    <div class="container">
        <div style="padding: 50px 0 25px 0;" class="row heading">
    		<h1>Registration</h1>
    	</div>
        <div class="col-md-12">
            <form id="form-signin" method="POST" action="/registration">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="name" class="form-control" name="firstName" required autofocus>
                </div>
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input type="name" class="form-control" name="lastName" required autofocus>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class='form-control nomargin' name="password" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Year</label>
                    <select type="form-control" name="year">
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pwd">Birthday</label>
                    <input type="date" class="form-control" name="birthday">
                </div>
                <div class="form-group">
                    <label for="pwd">Student ID</label>
                    <input type="number" pattern="[0-9]*" name="studentID" class="form-control" required>
                </div>
                <!-- <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div> -->
                <div style="padding: 10px 0 0 0;">
                <button type="submit" class="btn btn-default">Submit</button>
                    <% if (message.length > 0) { %>
                		<p style="color:red;" id="message"><%= message %></p>
                    <% } %>
                </div>
            </form>
        </div>
        <br><br>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/contact') %>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="javascripts/main.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('#form-signin').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    url : $(this).attr('action') || window.location.pathname,
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#form_output").html(data);
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script> -->



</body></html>
